.App {
  text-align: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;;
  margin-top: 70px;
}
h1{
  text-align: center;
}
.product {
  max-width: 500px;
  /* background-color: bisque; */
  padding: 10px;
}
h2{
  color: darkmagenta;
  text-align: center;
  margin: 0 0 20px;
  font-size: 2.2rem;
  border-bottom: 3px solid;
}
select {
  font-size: 1.1rem;
  padding: 1rem;
  margin: 0 40px;
}
img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  margin-bottom: 10px;

}
span {
  color:chocolate;
}